apiVersion: 1

groups:
  - orgId: 1
    name: ec2-alerts
    folder: Infrastructure
    interval: 1m
    rules:
      - uid: ec2-memory-high
        title: EC2 High Memory Usage
        condition: C
        for: 5m
        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange:      # <--- ADD THIS BLOCK
              from: 600             # Look back 10 minutes (600 seconds)
              to: 0
            model:
              expr: (1 - node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes) * 100
              instant: true
              refId: A

          - refId: B
            datasourceUid: __expr__
            model:
              type: reduce
              reducer: last
              expression: A
              refId: B

          - refId: C
            datasourceUid: __expr__
            model:
              type: threshold
              expression: B
              refId: C
              conditions:
                - evaluator:
                    type: gt
                    params: [80]
                  operator:
                    type: and
                  reducer:
                    type: last
        annotations:
          summary: "EC2 memory usage above 80%"
        labels:
          severity: warning