apiVersion: 1

groups:
  - name: fastapi-alerts
    folder: FastAPI
    interval: 1m
    rules:
      - uid: fastapi-down
        title: FastAPI Service Down
        condition: A
        for: 1m

        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: up{job="fastapi"} == 0
              interval: ""
              refId: A

        annotations:
          summary: "FastAPI is down"
          description: "FastAPI service has been unreachable for 1 minute"

        labels:
          severity: critical
